.home {
  margin-bottom: 50vh;

  .hero {
    background: url('/public/images/Hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position-y: 30%;
    width: 100vw;
    height: 120lvh;
    box-shadow: 10px 17px 106px -12px rgba(0,0,0,0.75);
    

    &__title {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    &-wrapper {
      height: 220lvh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      text-align: center;
      position: relative;
    }

    &__text {
      overflow: hidden;
      width: 65%;
    }

    &__title-2 {
      transform: translateY(-120%);
      width: 90vw;

      .mask-text__line {
        &:nth-of-type(1) {
          text-align: end;
        }
        &:nth-of-type(2) {
          text-align: start;
        }
      }
    }
    h1 {
      overflow: hidden;
      position: relative;
    }
  }

  .second-part {
    padding: 0 2vw;
    position: relative;
    
    .safe-space {
      position: relative;
      width: 40%;
      margin-left: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      
      &__title {
        display: flex;
        flex-direction: column;
        width: 100%;
  
        span:nth-of-type(2){
          text-align: center;
        }
      }

      &__image {
        margin-top: 4vw;
        object-fit: cover;
        width: 60%;
        height: 34vw;
      }
    }
  }
}

.mask-text {
  &__line {
    overflow: hidden;
  }
}
