@font-face {
  font-family: Helvetica;
  src: url("/public/font/Helvetica/HelveticaNeueCyr-Medium.eot")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Helvetica;
  src: url("/public/font/Helvetica/HelveticaNeueCyr-Thin.eot")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

