@import "./mixins";

%h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 90%;
  letter-spacing: -0.2vw;

  @include mq() {
    font-size: 9.4vw;
  }
}

.big-text {
  font-family: Helvetica, sans-serif;
  font-size: 4.7vw;
  font-style: bold;
  line-height: 90%;
  text-transform: uppercase;
  letter-spacing: normal;

  @include mq() {
    font-size: 11vw;
  }
}

%h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2vw;
  font-style: bold;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;

  @include mq() {
    font-size: 6.4vw;
  }
}

%body-text {
  font-family: Roboto, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.1vw;
  
  @include mq() {
    letter-spacing: -0.4vw;
    font-size: 4.7vw;
  }
}

%link {
  @extend %body-text;
  font-weight: bold;

}

.bold {
  font-weight: 700;
}

body {
  @extend %body-text;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

a {
  @extend %link;
}
